{{ define "content" }}
<div class="management-wrapper">
    <p>その人の飲み物情報を大きく表示したい</p>
    <a href="/register_drink">今日の飲料記録</a>
</div>

<div class="todos-wrapper">
    <ul class="todos-list">
        <li>
            <a class="create-bottom" href="/todos/new">+</a>
        </li>
        {{ range .Todos }}
        <li>
            <a class="todo" href="/todos/todo/{{.ID}}">{{ .Content }}</a>
        </li>
        {{ end }}
    </ul>
<!--    <p>[<a href="/todos/new">Create</a>]</p>-->
<!--    <hr>-->
<!--    -->
<!--    {{ range .Todos }}-->
<!--    <div>{{ .Content }}</div>-->
<!--    <p>[<a href="/todos/edit/{{.ID}}">Edit</a>]</p>-->
<!--    <p>[<a href="/todos/delete/{{.ID}}">Delete</a>]</p>-->
<!--    <hr>-->
<!--    {{end}}-->
</div>
{{end}}