{{ define "content" }}
<div class="management-wrapper">
    <p>その人の飲み物情報を大きく表示したい</p>
    <ul>
        {{ range .Drinks }}
        <li>
            <h4>{{ .DName }}</h4>
            <p>{{ .Total }}</p>
        </li>
        {{ end }}
    </ul>
    <a href="/register_drink">今日の飲料記録</a>
</div>

<div class="todos-wrapper">
    <ul class="todos-list">
        <li>
            <a class="create-bottom" href="/todos/new">+</a>
        </li>
        {{ range .Todos }}
        <li>
            {{ if .Content }}
            <a class="todo" href="/todos/todo/{{.ID}}">{{ .Content }}</a>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</div>
{{end}}