{{ define "content" }}
<div class="message">
    <h3>こんにちは, {{.Name}} さん</h3>
    <p>{{ .Message }}</p>
</div>
<div class="management-wrapper">
    <ul>
        {{ range .Drinks }}
        <li>
            <h4>{{ .DName }}</h4>
            <p>{{ .Total }}</p>
        </li>
        {{ end }}
    </ul>
    <a href="/register_drink">今日の飲料記録</a>
</div>

<div class="todos-wrapper">
    <ul class="todos-list">
        <li>
            <a class="create-bottom" href="/todos/new">+</a>
        </li>
        {{ range .Todos }}
        <li>
            {{ if .Content }}
            <a class="todo" href="/todos/todo/{{.ID}}">{{ .Content }}</a>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</div>
{{end}}