{{ define "navbar" }}
    <div class="container">
        <h2 class="navbar-logo"><a href="/"> Drink Hack </a></h2>
        <h3 id = "inline" ><a href="/login"> ログイン　　　　　　　</a></h3>
        <h3 id = "inline" ><a href="/signup"> 新規登録</a></h3>

    </div>


    </div>
    <!--<div class="h-menu">
        <input id="h-menu_checkbox" class="h-menuCheckbox" type="checkbox">
        <label class="h-menu_icon" for="h-menu_checkbox"><span class="hamburger-icon"></span></label>
        <label id="h-menu_black" class="h-menuCheckbox" for="h-menu_checkbox"></label>
        <div id="h-menu_content">
            <ul>
                <li><a href="/">top</a></li>
                <li><a href="/signup">signup</a></li>
                <li><a href="/login">login</a></li>
        </div>
    </div>-->
</div>
{{end}}