{{ define "content" }}
<div class="todo-head">
    <a class="return-link" href="/todos">一覧に戻る</a>
    <a class="setting-link" href="/todos/edit/{{ .ID }}">設定</a>
</div>
<div class="todo-wrapper">
    <h2 class="todo-title">{{ .Content }}</h2>
    <div class="todo-icon"></div>
    <div class="todo-content">
        <ul>
            <li>
                <h5>目標期間</h5>
                <p>{{ .StartDate }} - {{ .EndDate }}</p>
            </li>
            <li>
                <h5>ジャンル</h5>
                <p>{{ .Genre }}</p>
            </li>
            <li>
                <h5>目標</h5>
                <p><span>{{ .Goal }}</span>L</p>
            </li>
            <li>
                <h5>現在</h5>
                <p><span>{{ .Total }}</span>L</p>
            </li>
        </ul>
    </div>
    <div class="todo-detail">
        <h5>概要</h5>
        <p>{{ .Description }}</p>
    </div>
</div>
{{end}}