{{define "content"}}
<div class="todo-edit-wrapper">
    <h3 class="todo-edit-title">プロジェクトの編集</h3>
    <form role="form" action="/todos/update/{{.ID}}" method="post">
        <div class="form-group">
            <ul>
                <li>
                    <h5>プロジェクト名</h5>
                    <input type="text" name="content" placeholder="{{.Content}}">
                </li>
                <li>
                    <h5>対象ジャンル</h5>
                    <select name="genre">
                        <option value="water">ミネラルウォーター</option>
                        <option value="tea">お茶</option>
                        <option value="juice">ジュース</option>
                        <option value="milk">牛乳</option>
                    </select>
                </li>
                <li>
                    <h5>目標期間</h5>
                    <p>開始日</p><input name="start-date" type="date" placeholder="{{.StartDate}}">
                    <p>終了日</p><input name="end-date" type="date" placeholder="{{.EndDate}}">
                </li>
                <li>
                    <h5>目標量</h5>
                    <input name="goal" placeholder="{{.Goal}}"><span>L</span>
                </li>
                <li>
                    <h5>概要</h5>
                    <textarea class="form-control" name="content" id="content" placeholder="{{.Description}}" rows="4"></textarea>
                </li>
            </ul>
            <button class="btn btn-lg btn-primary pull-right" type="submit">保存</button>
            <button class="btn btn-danger" onclick="location.href='/todos/delete/{{.ID}}'">プロジェクトの削除</button>
        </div>
    </form>
</div>
{{end}}